.movieCard {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
}

.containerInfo {
    display: grid;
    grid-template-columns: 4fr 0.5fr;
    grid-template-rows: 2fr 1fr;


    justify-items: start
}

img {
    width: 100px;
    height: auto;
    object-fit: cover;
    aspect-ratio: 7 / 10;
    border-radius: .5rem;
}

.movieInfos {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    gap: 1rem;

}


.containerInfo .movieTitle {
    color: var(--color-black);
    font-family: Poppins;
    font-size: 1.2rem;
    font-weight: 700;
    justify-items: start
}





.movieInfos p {
    color: var(--color-black);
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 500;
}

.rating {
    display: flex;
    align-items: center;
    justify-content: center;
}


.movieCard .bookmarkIcon {
    align-self: flex-start;
}