* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root {
    --color-red: #FC2121;
    --color-rose: rgba(194, 109, 109, 1);
    --color-mild: rgba(200, 184, 175, 1);
    --color-right-corner: rgba(165, 93, 94, 1);
}
